// Set your brand colors
$blue: #245383;
$light-blue: #5f7a96;
$dark-blue: #00263e;
$medium-grey: #777;

// Define the font stack with Roboto and sans-serif fallback
$family-primary: "Roboto", sans-serif;

// Import the entire Bulma framework
@use "bulma/bulma" with (
  $family-primary: $family-primary,
  $primary: $blue,
  $link: $light-blue,
  $info: $dark-blue,
  $dark: $medium-grey
);

// Import the Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');