<!--<head th:fragment="dataHead(pageTitle)">-->
<!--    <meta charset="UTF-8">-->
<!--    &lt;!&ndash; Dynamic page titles using Thymeleaf &ndash;&gt;-->
<!--    <title th:text="${pageTitle}"></title>-->
<!--    &lt;!&ndash; Emoji favicon for 🚀 &ndash;&gt;-->
<!--    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">-->
<!--    &lt;!&ndash; Bulma CSS link from CDN, and SRI Hash using SHA-512 (Secure Hash Algorithm 512-bit) is a cryptographic hash function that produces a 512-bit (64-byte) hash value.-->
<!--    It is a member of the SHA-2 family of hash functions and is considered secure and widely used.&ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" th:href="@{my-bulma-project.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/custom-styles.css?v=1.0}">-->
<!--</head>-->

<head th:fragment="dataHead(pageTitle)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Dynamic page titles using Thymeleaf -->
    <title th:text="${pageTitle}"></title>
    <!-- Emoji favicon for 🚀 -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">
    <!-- Bulma CSS link from CDN, and SRI Hash using SHA-512 (Secure Hash Algorithm 512-bit) is a cryptographic hash function that produces a 512-bit (64-byte) hash value.
    It is a member of the SHA-2 family of hash functions and is considered secure and widely used.-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/my-bulma-project.css}">
    <link rel="stylesheet" th:href="@{/css/custom-styles.css?v=1.0}">
</head>