/*ENTIRE HTML PAGE*/

/*body {*/
/*    background-color: #14161a;*/
/*}*/


html, body {
    background-color: #353a45;
    /*Test Color*/
    /*background-color: red;*/
    height: 100%;
    margin: 0;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1; /* Ensures that the footer can push to the bottom */
    overflow: auto;  /* Adds scrolling to content if needed */
}

/*TABLES*/
.table td, .table th {
    border-right: 1px solid #dddddd;
}
/* Optional: Remove right border from the last column */
/*.table td:last-child, .table th:last-child {*/
/*    border-right: none;*/
/*}*/


/*FORM BUTTON ALIGNMENT*/
.form-container {
    display: flex;
    align-items: center;
}
.form-container form {
    margin-right: 10px;
}

/*FOOTER*/
.footer {
    height: 10%;  /* Adjust height as needed between 10% to 20% */
    margin-top: auto;  /* Pushes the footer to the bottom */
    display: flex;
    justify-content: center;  /* Horizontally center content */
}
