<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<head> <!--  Git rid of once Controller has "User Registration" added to it-->
    <!--    <meta charset="UTF-8">-->
    <title>User Registration</title> <!--  Git rid of once Controller has "User Registration" added to it-->
</head> <!--  Git rid of once Controller has "User Registration" added to it-->
<body class="site">
<header class="has-text-centered">Users Registration Page</header>
<main class="site-content">
    <section class="section">
        <div class="container">
            <h2 class="title mb-3">Users Registration</h2>
        </div>

    </section>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
