<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>
<head> <!--  Git rid of once Controller has "User Registration" added to it-->
    <!--    <meta charset="UTF-8">-->
    <title>Create Account</title> <!--  Git rid of once Controller has "User Registration" added to it-->
</head> <!--  Git rid of once Controller has "User Registration" added to it-->

<body class="site">

<header>
    <h1 class="title is-1 has-text-centered mt-3">Create your Account</h1>
</header>

<main class="site-content">
    <section class="section">
<!--        <div class="container">-->
        <div class="">
            <h2 class="title is-2 mb-4">Create Account</h2>
        </div>
        <form action="/register" method="POST" autocomplete="nope">
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input is-focused" type="text" th:field="${user.username}" placeholder="" readonly onfocus="this.removeAttribute('readonly')">
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" type="password" th:field="${user.password}" placeholder="" readonly onfocus="this.removeAttribute('readonly')">
                </div>
            </div>
            <div class="field">
                <label class="label">Full Name</label>
                <div class="control">
                    <input class="input" type="text" th:field="${user.name}" placeholder="" readonly onfocus="this.removeAttribute('readonly')">
                </div>
            </div>
            <div class="buttons mt-5">
                <input class="button is-primary is-rounded" type="submit" value="Create Account">
                <a class="button is-rounded is-link is-dark ml-3" href="/users">All Users</a>
            </div>
        </form>
    </section>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
