<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<div th:replace="~{fragments/head :: head(${pageTitle})}"></div>

<body class="site">

<header>
    <h1 class="title is-1 has-text-centered mt-3">Users Page</h1>
</header>

<main class="site-content">
    <section class="section">
        <div class="container">
            <h2 class="title is-2 mb-3">Users</h2>
        </div>
        <table class="table is-striped is-bordered is-narrow is-hoverable ml-4">
            <thead>
            <tr>
                <th class="has-text-centered">User ID</th>
                <th class="has-text-centered">Name</th>
                <th class="has-text-centered">Username</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.userId}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.username}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<footer class="footer" th:replace="~{fragments/footer :: footer}"></footer>

</body>
</html>
